/* Gotham Narrow Font Faces */
@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/Gotham Narrow Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Barlow Font for Star Wars */
@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
  --dynamic-font: 'Bebas Neue', sans-serif;
}

* {
    font-family: var(--dynamic-font), sans-serif;
    background-color: transparent;
    text-transform: uppercase;
}

#bracket-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    color: #000;
    text-align: center;
    width: 574px;
    height: 56px;
    padding: 0;
    font-weight: bold;
}

#player-rank {
    width: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C6C6C6;
    padding-top: 3px;
}

.player-name-archetype {
    width: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0% 0, 73% 0%, 64.5% 100%, 0% 100%);
    background-color: #C6C6C6;
}

#player-name {
    display: block;
    height: 31px;
    line-height: 39px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-align: start;
}

#player-archetype {
    display: block;
    height: 22px;
    line-height: 18px;
    font-style: var(--archetype-font-style, italic);
    font-weight: var(--archetype-font-weight, bold);
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 88%;
    text-align: start;
    white-space: nowrap;
}

#player-points {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*background-color: #E9CE89;*/
    background-color: #fff;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 4.25% 100%);
    left: -150px;
    position: relative;
    text-indent: 25px;
    padding-top: 3px;
}