/* Gotham Font Faces for MTG */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/GothamBook.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.otf') format('opentype'),
        url('/fonts/GothamBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --dynamic-font: 'Bebas Neue', sans-serif;
}

* {
    font-family: var(--dynamic-font), sans-serif;
    background-color: transparent;
    text-transform: uppercase;
}

/* MTG uses Gotham font */
body.mtg * {
    font-family: 'Gotham', sans-serif;
}

#round-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
}

.mana-symbols-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.mana-symbols-container img {
    height: 20px;
    margin-right: 2px;
    margin-top: 3px;
}

.player-sprite {
    width: 750px;
    height: 750px;
}

/* Winner Display Styles */
.winner-display {
    position: absolute;
    top: 0;
    left: 0;
}

.winner-bg-image {
    width: 616px;
    height: 100px;
    background-image: url('/assets/images/mtg/lower-third.png');
}

.winner-name {
    font-family: 'Gotham', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding-left: 125px;
    padding-top: 20px;
    line-height: 35px;
    margin: 0;
    white-space: nowrap;
}

.winner-archetype {
    font-family: 'Gotham', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-left: 125px;
    margin: 0;
}