/* Gotham Narrow Font Faces for MTG */
@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Akzidenz-Grotesk Next Font Faces for Riftbound */
@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Bold.eot');
    src: local('Akzidenz-Grotesk Next Bold'), local('AkzidGrtskNext-Bold'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Bold.woff2') format('woff2'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Bold.woff') format('woff'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Regular.eot');
    src: local('Akzidenz-Grotesk Next Regular'), local('AkzidGrtskNext-Regular'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Regular.woff2') format('woff2'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Regular.woff') format('woff'),
        url('/assets/images/riftbound/scoreboard/fonts/AkzidGrtskNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --dynamic-font: 'Bebas Neue', sans-serif;
}

* {
    font-family: var(--dynamic-font), sans-serif;
    background-color: transparent;
    text-transform: uppercase;
}

/* MTG uses Gotham font */
body.mtg * {
    font-family: 'Gotham Narrow', sans-serif;
}

#round-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
}

.mana-symbols-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.mana-symbols-container img {
    height: 20px;
    margin-right: 2px;
    margin-top: 3px;
}

.player-sprite {
    width: 750px;
    height: 750px;
}

/* Winner Display Styles */
.winner-display {
    position: absolute;
    left: 140px;
    top: 862px;
    text-align: left;
}

.winner-bg-image {
    width: 616px;
    height: 100px;
    background-image: url('/assets/images/mtg/lower-third.png');
    text-align: left;
}

.winner-name {
    font-family: 'Gotham Narrow', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding-left: 125px;
    padding-top: 20px;
    line-height: 35px;
    margin: 0;
    white-space: nowrap;
    text-align: left;
    color: white;
}

.winner-archetype {
    font-family: 'Gotham Narrow', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-left: 125px;
    margin: 0;
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
}

.winner-archetype-text {
    margin-right: 8px;
}

.winner-mana-symbols-container {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.winner-mana-symbols-container img {
    height: 20px;
    margin-right: 3px;
}

/* Riftbound Winner Display Styles */
.winner-display.riftbound .winner-bg-image {
    background-image: url('/assets/images/riftbound/lower-third.png');
}

.winner-display.riftbound .winner-name {
    font-family: 'Akzidenz-Grotesk Next', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.winner-display.riftbound .winner-archetype {
    font-family: 'Akzidenz-Grotesk Next', sans-serif;
    font-size: 25px;
    font-weight: normal;
}

/* Vibes Winner Display Styles */
.winner-display.vibes .winner-bg-image {
    background-image: url('/assets/images/vibes/lower-third.png');
}

.winner-display.vibes .winner-name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.winner-display.vibes .winner-archetype {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}