:root {
    --dynamic-font: 'Bebas Neue', sans-serif;
}

* {
    font-family: var(--dynamic-font), sans-serif;
    text-transform: uppercase;
    background-color: transparent;
}

#deck-display-details {
    width: 1920px;
    height: 130px;
    color: white;
}

#deck-display-details h1 {
    font-size: 100px;
    height: 100px;
    position: relative;
    top: 0px;
}

#deck-display-details h5 {
    font-size: 40px;
    font-style: italic;
    position: relative;
    top: -20px;
}

#deck-display-container {
    width: 1920px;
    height: 950px;
}

#main-deck-container {
    width: 1920px;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 5px;
}

.main-deck-card {
    width: 180px;
    height: auto;
    /*border: 1px solid #ccc;*/
    margin: 5px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: transform 0.2s; /* Smooth transition for stacking */
}

.card-src {
    width: 100%;
}

.card-count {
    top: 225px;
    right: 70px;
    width: 37px;
    height: 37px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.mana-symbols-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.mana-symbols-container img {
    height: 24px;
    margin-right: 4px;
    margin-top: 2px;
}