/* Gotham Narrow Font Faces for MTG */
@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --dynamic-font: 'Bebas Neue', sans-serif;
    --dynamic-font-weight: bold;
}

* {
    font-family: var(--dynamic-font), sans-serif;
    font-weight: var(--dynamic-font-weight);
    text-transform: uppercase;
    background-color: transparent;
}

body {
    margin: 0;
    padding: 0;
}

#standings-wrapper {
    display: grid;
    grid-template-columns: 669px 669px;
    grid-template-rows: repeat(8, auto);
    grid-auto-flow: column;
    column-gap: 50px;
    row-gap: 6px;
    margin-top: 285px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.round-standings-container {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    color: #000;
    text-align: center;
    width: 669px;
    height: 85px;
    padding: 0;
    background-image: url('/assets/images/mtg/standings/standings-frame.png');
    background-size: 669px 85px;
    background-repeat: no-repeat;
    position: relative;
}

.standings-rank {
    width: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.player-name-archetype {
    width: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 13px;
}

.standings-name {
    display: block;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    text-align: start;
}

.standings-archetype {
    display: block;
    height: 33px;
    line-height: 22.5px;
    font-style: italic;
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 88%;
    text-align: start;
    white-space: nowrap;
}

.standings-record {
    position: absolute;
    left: 515px;
    top: 0;
    height: 100%;
    width: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
}
