:root {
    --dynamic-font: 'Bebas Neue', sans-serif;
}

* {
    font-family: var(--dynamic-font), sans-serif;
    background-color: transparent;
}

#round-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
}

.mana-symbols-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.mana-symbols-container img {
    height: 20px;
    margin-right: 2px;
}