/* Gotham Narrow Font Faces for MTG */
@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --dynamic-font: 'Bebas Neue', sans-serif;
    --dynamic-font-weight: bold;
}

* {
    font-family: var(--dynamic-font), sans-serif;
    font-weight: var(--dynamic-font-weight);
    text-transform: uppercase;
    background-color: transparent;
}

#round-standings-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 42px;
    color: #000;
    text-align: center;
    width: 861px;
    height: 84px;
    padding: 0;
}

#standings-rank {
    width: 69px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C6C6C6;
}

.player-name-archetype {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 83% 0%, 72.75% 100%, 0% 100%);
    background-color: #C6C6C6;
}

#standings-name {
    display: block;
    height: 51px;
    line-height: 67.5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-align: start;
}

#standings-archetype {
    display: block;
    height: 33px;
    line-height: 22.5px;
    font-style: var(--archetype-font-style, italic);
    font-weight: var(--archetype-font-weight, bold);
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 88%;
    text-align: start;
    white-space: nowrap;
}

#standings-record {
    width: 225px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 15% 100%);
    left: -177px;
    position: relative;
    text-indent: 65px;
}