/* Gotham Narrow Font Faces for MTG */
@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('/fonts/GothamNarrow-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Akzidenz-Grotesk Next Font Faces for Riftbound */
@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('/fonts/AkzidGrtskNext-Bold.eot');
    src: local('Akzidenz-Grotesk Next Bold'), local('AkzidGrtskNext-Bold'),
        url('/fonts/AkzidGrtskNext-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidGrtskNext-Bold.woff2') format('woff2'),
        url('/fonts/AkzidGrtskNext-Bold.woff') format('woff'),
        url('/fonts/AkzidGrtskNext-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('/fonts/AkzidGrtskNext-Regular.eot');
    src: local('Akzidenz-Grotesk Next Regular'), local('AkzidGrtskNext-Regular'),
        url('/fonts/AkzidGrtskNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidGrtskNext-Regular.woff2') format('woff2'),
        url('/fonts/AkzidGrtskNext-Regular.woff') format('woff'),
        url('/fonts/AkzidGrtskNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('/fonts/AkzidGrtskNext-Light.eot');
    src: local('Akzidenz-Grotesk Next Light'), local('AkzidGrtskNext-Light'),
        url('/fonts/AkzidGrtskNext-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidGrtskNext-Light.woff2') format('woff2'),
        url('/fonts/AkzidGrtskNext-Light.woff') format('woff'),
        url('/fonts/AkzidGrtskNext-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next';
    src: url('/fonts/AkzidGrtskNext-Black.eot');
    src: local('Akzidenz-Grotesk Next Black'), local('AkzidGrtskNext-Black'),
        url('/fonts/AkzidGrtskNext-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidGrtskNext-Black.woff2') format('woff2'),
        url('/fonts/AkzidGrtskNext-Black.woff') format('woff'),
        url('/fonts/AkzidGrtskNext-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next Med';
    src: url('/fonts/AkzidGrtskNext-Med.eot');
    src: local('Akzidenz-Grotesk Next Medium'), local('AkzidGrtskNext-Med'),
        url('/fonts/AkzidGrtskNext-Med.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidGrtskNext-Med.woff2') format('woff2'),
        url('/fonts/AkzidGrtskNext-Med.woff') format('woff'),
        url('/fonts/AkzidGrtskNext-Med.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next Med';
    src: url('/fonts/AkzidGrtskNext-MedIt.eot');
    src: local('Akzidenz-Grotesk Next Medium Italic'), local('AkzidGrtskNext-MedIt'),
        url('/fonts/AkzidGrtskNext-MedIt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidGrtskNext-MedIt.woff2') format('woff2'),
        url('/fonts/AkzidGrtskNext-MedIt.woff') format('woff'),
        url('/fonts/AkzidGrtskNext-MedIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz-Grotesk Next XBold';
    src: url('/fonts/AkzidGrtskNext-ExtraBold.eot');
    src: local('Akzidenz-Grotesk Next ExtraBold'), local('AkzidGrtskNext-ExtraBold'),
        url('/fonts/AkzidGrtskNext-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/AkzidGrtskNext-ExtraBold.woff2') format('woff2'),
        url('/fonts/AkzidGrtskNext-ExtraBold.woff') format('woff'),
        url('/fonts/AkzidGrtskNext-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    font-family: "Bebas Neue", sans-serif;
    /* BebasNeueBold */
    text-transform: uppercase;
    color: white;
}

body {
    width: 616px;
    height: 100px;
}

/* MTG Lower Third */
/* TODO: Dial in exact specs */

#lower-third-mtg {
    position: absolute;
    left: 140px;
    top: 862px;
}

#lower-third-mtg .commentator-image {
    width: 616px;
    height: 100px;
    background-image: url('/assets/images/mtg/lower-third/mtg-lower-third-default-1v1.png');
}

#lower-third-mtg .commentator {
    font-family: 'Gotham Narrow', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding-left: 125px;
    padding-top: 20px;
    line-height: 35px;
    margin: 0;
    white-space: nowrap;
}

#lower-third-mtg .commentator-subtext {
    font-family: 'Gotham Narrow', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-left: 125px;
    margin: 0;
}

/* Riftbound Lower Third */
/* TODO: Dial in exact specs */

#lower-third-riftbound .commentator-image {
    width: 616px;
    height: 100px;
    background-image: url('/assets/images/riftbound/lower-third/riftbound-lower-third-default-1v1.png');
}

#lower-third-riftbound .commentator {
    font-size: 40px;
    padding-left: 125px;
}

#lower-third-riftbound .commentator-subtext {
    font-size: 25px;
    padding-left: 125px;
}

/* Vibes Lower Third */
/* TODO: Dial in exact specs */

#lower-third-vibes .commentator-image {
    width: 616px;
    height: 100px;
    background-image: url('/assets/images/vibes/lower-third/vibes-lower-third-default-1v1.png');
}

#lower-third-vibes .commentator {
    font-size: 40px;
    padding-left: 125px;
}

#lower-third-vibes .commentator-subtext {
    font-size: 25px;
    padding-left: 125px;
}

/* Star Wars Lower Third */

#lower-third-starwars {
    position: absolute;
    left: 140px;
    top: 862px;
}

#lower-third-starwars .commentator-image {
    width: 616px;
    height: 100px;
    background-image: url('/assets/images/starwars/lower-third/starwars-lower-third-default-1v1.png');
}

#lower-third-starwars .commentator {
    font-family: 'Barlow', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding-left: 125px;
    padding-top: 20px;
    line-height: 35px;
    margin: 0;
    white-space: nowrap;
}

#lower-third-starwars .commentator-subtext {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-left: 125px;
    margin: 0;
}