body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: var(--dynamic-font), sans-serif;
    overflow: hidden;
    text-transform: uppercase;
}

#fixed-layout {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    font-size: 30px;
}


.key-card-img {
    height: 220px;
    margin-right: 5px;
    border-radius: 4px;
}