* {
    font-family: "Bebas Neue", sans-serif; /* BebasNeueBold */
    text-transform: uppercase;
    color: white;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    width: 1920px;
    height: 1080px;
}

div {
    z-index: 10;
}

.header .background {
    width: 1920px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/assets/images/overlay_header.png");
    z-index: 2;
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background image */
}

.body .background {
    width: 1920px;
    height: 930px;
    background: url("/assets/images/overlay_body.png");
}

.footer .background {
    width: 1920px;
    height: 50px;
    background: url("/assets/images/overlay_footer.png");
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background image */
}

.scorebug {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.scorebug-life {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    height: 100px;
    font-size: 100px;
}

.scorebug-right-life {
    /* align-items: flex-end; */
    flex-direction: row-reverse;
}

.scorebug-life-score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding-top: 9px;
}

.scorebug-life-wins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.scorebug-right-life-wins, .scorebug-left-life-wins {
    width: 82px;
    height: 100%;
    padding-top: 5px;
}

.scorebug-life-wins-dot {
    width: 20px;
    height: 20px;
    font-size: 28px;
    border: 3px solid white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.player-record {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 42px;
    height: 100px;
}

.scorebug-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6px;
    height: 100px;
    width: 610px;
    line-height: 1.0;
}

.scorebug-name-title {
    font-size: 66px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 650px;
    padding-top: 5px;
}

.scorebug-right-name {
    align-items: flex-end;
}

.scorebug-name-data, .scorebug-name-data * {
    font-family: "Bebas Neue", sans-serif;
    font-size: 34px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.scorebug-vs {
    width: 130px;
}

.chyron {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.chyron * {
    font-size: 28px;
    color: #fff;
}

.poison {
    z-index: 1;
    position: absolute;
}

.poison-left {
    background: url("/assets/images/poison_left.png");
    display: block;
    position: absolute;
    top: 105px;
    width: 163px;
    height: 58px;
    left: 0px;
}

.poison-right {
    background: url("/assets/images/poison_right.png");
    display: block;
    position: absolute;
    top: 105px;
    width: 163px;
    height: 58px;
    left: 1757px;
}

.player-poison-left, .player-poison-right {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    position: absolute;
    height: 48px;
    font-size: 42px;
}

.player-poison-left {
    left: 50px;
}

.player-poison-right {
    right: 50px;
}

.player-pronouns {
    border-radius: 8px;
    padding: 0px 10px;
    font-size: .6em;
    background-image: linear-gradient(to right, #80738088, #19181888);
}

body {
    background: transparent !important;
}

.background-left {
    position: absolute;
    top: 0;
    width: 960px;
    height: 100px;
    left: 0;
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background image */
}

.background-right {
    position: absolute;
    top: 0;
    width: 960px;
    height: 100px;
    left: 960px;
    transform: scaleX(-1); /* Add this line to flip the image horizontally */
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background image */
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 60px;
    font-size: 25px;
}