* {
    font-family: "Bebas Neue", sans-serif;
    /* BebasNeueBold */
    text-transform: uppercase;
    color: white;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    width: 1920px;
    height: 1080px;
}

div {
    z-index: 10;
}

/* MTG Scoreboard Styles */
#scoreboard-mtg .header .background {
    width: 1920px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/assets/images/overlay_header.png");
    z-index: 2;
    transition: background-image 0.5s ease-in-out;
    /* Smooth transition for background image */
}

#scoreboard-mtg .body .background {
    width: 1920px;
    height: 930px;
    background: url("/assets/images/overlay_body.png");
}

#scoreboard-mtg .footer .background {
    width: 1920px;
    height: 50px;
    background: url("/assets/images/overlay_footer.png");
    transition: background-image 0.5s ease-in-out;
    /* Smooth transition for background image */
}

#scoreboard-mtg .scorebug {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#scoreboard-mtg .scorebug-life {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    height: 100px;
    font-size: 100px;
}

#scoreboard-mtg .scorebug-right-life {
    /* align-items: flex-end; */
    flex-direction: row-reverse;
}

#scoreboard-mtg .scorebug-life-score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding-top: 9px;
}

#scoreboard-mtg .scorebug-life-wins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#scoreboard-mtg .scorebug-right-life-wins,
#scoreboard-mtg .scorebug-left-life-wins {
    width: 82px;
    height: 100%;
    padding-top: 5px;
}

#scoreboard-mtg .scorebug-life-wins-dot {
    width: 20px;
    height: 20px;
    font-size: 28px;
    border: 3px solid white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#scoreboard-mtg .player-record {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 42px;
    height: 100px;
}

#scoreboard-mtg .scorebug-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6px;
    height: 100px;
    width: 610px;
    line-height: 1.0;
}

#scoreboard-mtg .scorebug-name-title {
    font-size: 66px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 650px;
    padding-top: 5px;
}

#scoreboard-mtg .scorebug-right-name {
    align-items: flex-end;
}

#scoreboard-mtg .scorebug-name-data,
#scoreboard-mtg .scorebug-name-data * {
    font-family: "Bebas Neue", sans-serif;
    font-size: 34px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

#scoreboard-mtg .scorebug-vs {
    width: 130px;
}

#scoreboard-mtg .chyron {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

#scoreboard-mtg .chyron * {
    font-size: 28px;
    color: #fff;
}

#scoreboard-mtg .poison {
    z-index: 1;
    position: absolute;
}

#scoreboard-mtg .poison-left {
    background: url("/assets/images/poison_left.png");
    display: block;
    position: absolute;
    top: 105px;
    width: 163px;
    height: 58px;
    left: 0px;
}

#scoreboard-mtg .poison-right {
    background: url("/assets/images/poison_right.png");
    display: block;
    position: absolute;
    top: 105px;
    width: 163px;
    height: 58px;
    left: 1757px;
}

#scoreboard-mtg .player-poison-left,
#scoreboard-mtg .player-poison-right {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    position: absolute;
    height: 48px;
    font-size: 42px;
}

#scoreboard-mtg .player-poison-left {
    left: 50px;
}

#scoreboard-mtg .player-poison-right {
    right: 50px;
}

#scoreboard-mtg .player-pronouns {
    border-radius: 8px;
    padding: 0px 10px;
    font-size: .6em;
    background-image: linear-gradient(to left, #80738088, #19181888);
}

#scoreboard-mtg #player-pronouns-left {
    background-image: linear-gradient(to left, #80738088, #19181888);
}

#scoreboard-mtg #player-pronouns-right {
    background-image: linear-gradient(to left, #19181888, #80738088);
}

body {
    background: transparent !important;
}

#scoreboard-mtg .background-left {
    position: absolute;
    top: 0;
    width: 960px;
    height: 100px;
    left: 0;
    transition: background-image 0.5s ease-in-out;
    /* Smooth transition for background image */
}

#scoreboard-mtg .background-right {
    position: absolute;
    top: 0;
    width: 960px;
    height: 100px;
    left: 960px;
    transform: scaleX(-1);
    /* Add this line to flip the image horizontally */
    transition: background-image 0.5s ease-in-out;
    /* Smooth transition for background image */
}

#scoreboard-mtg .timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 60px;
    font-size: 25px;
}

#scoreboard-mtg .mana-symbols {
    height: 16px;
    margin-right: 3px;
}

#scoreboard-mtg #player-mana-symbols-left-symbols,
#scoreboard-mtg #player-mana-symbols-right-symbols {
    display: none;
}

#scoreboard-mtg #player-mana-symbols-left-symbols,
#scoreboard-mtg #player-archetype-left {
    margin-right: 5px;
}

#scoreboard-mtg #player-mana-symbols-right-symbols,
#scoreboard-mtg #player-archetype-right {
    margin-left: 5px;
}

/* Riftbound Scoreboard Styles */
#scoreboard-riftbound {
    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#scoreboard-riftbound .riftbound-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/riftbound/scoreboard/frame/1-IGN-frame.png");
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#scoreboard-riftbound .riftbound-content {
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
}

/* Riftbound Player Records */
#scoreboard-riftbound .riftbound-player-record-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

#scoreboard-riftbound .riftbound-player-record-left {
    top: 31px;
    left: 342px;
    transform: rotate(-90deg);
    transform-origin: center;
    width: 69px;
    height: 34px;
}

#scoreboard-riftbound .riftbound-player-record-left #player-record-left {
    color: #1DC9FF;
    font-weight: bold;
    font-size: 16px;
}

#scoreboard-riftbound .riftbound-player-record-right {
    top: 31px;
    right: 342px;
    transform: rotate(90deg);
    transform-origin: center;
    width: 69px;
    height: 34px;
}

#scoreboard-riftbound .riftbound-player-record-right #player-record-right {
    color: #1DFF47;
    font-weight: bold;
    font-size: 16px;
}

/* Riftbound Player Life */
#scoreboard-riftbound .riftbound-player-life-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

#scoreboard-riftbound .riftbound-player-life-left {
    top: 13px;
    left: 735px;
    width: 69px;
    height: 69px;
}

#scoreboard-riftbound .riftbound-player-life-left #player-life-left {
    color: #1DC9FF;
    font-weight: bold;
    font-size: 40px;
}

#scoreboard-riftbound .riftbound-player-life-right {
    top: 13px;
    right: 735px;
    width: 69px;
    height: 69px;
}

#scoreboard-riftbound .riftbound-player-life-right #player-life-right {
    color: #1DFF47;
    font-weight: bold;
    font-size: 40px;
}

/* Riftbound Player Names */
#scoreboard-riftbound .riftbound-player-name-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 20;
    padding-left: 10px;
    padding-right: 10px;
}

#scoreboard-riftbound .riftbound-player-name-left {
    top: 13px;
    left: 392px;
    width: 326px;
    height: 69px;
}

#scoreboard-riftbound .riftbound-player-name-left #player-name-left {
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#scoreboard-riftbound .riftbound-player-name-right {
    top: 13px;
    right: 392px;
    width: 326px;
    height: 69px;
}

#scoreboard-riftbound .riftbound-player-name-right #player-name-right {
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

/* Riftbound Player Wins */
#scoreboard-riftbound .riftbound-player-wins-wrapper {
    position: absolute;
    z-index: 20;
}

#scoreboard-riftbound .riftbound-player-wins-left {
    top: 23px;
    left: 815px;
    width: 19px;
    height: 19px;
}

#scoreboard-riftbound .riftbound-player-wins-left #riftbound-wins-left-2 {
    top: 28px
}

#scoreboard-riftbound .riftbound-player-wins-right {
    top: 23px;
    right: 812px;
    width: 19px;
    height: 19px;
}

#scoreboard-riftbound .riftbound-player-wins-right #riftbound-wins-right-2 {
    top: 28px
}

#scoreboard-riftbound .riftbound-wins-pip {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

#scoreboard-riftbound #riftbound-wins-left-1,
#scoreboard-riftbound #riftbound-wins-left-2 {
    background-image: url("/assets/images/riftbound/scoreboard/pips/blue_pip.png");
}

#scoreboard-riftbound #riftbound-wins-right-1,
#scoreboard-riftbound #riftbound-wins-right-2 {
    background-image: url("/assets/images/riftbound/scoreboard/pips/green_pip.png");
}

/* Riftbound Player Legend */
#scoreboard-riftbound .riftbound-player-legend-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 20;
    padding-left: 10px;
    padding-right: 10px;
}

/* Riftbound Icons */
#scoreboard-riftbound .riftbound-icon {
    position: absolute;
    z-index: 15;
    width: auto;
    height: 20px;
    object-fit: contain;
}

#scoreboard-riftbound .riftbound-legend-icon-left {
    top: 109px;
    left: 30px;
}

#scoreboard-riftbound .riftbound-legend-icon-right {
    top: 109px;
    right: 27px;
}

#scoreboard-riftbound .riftbound-champion-icon-left {
    top: 131px;
    left: 30px;
}

#scoreboard-riftbound .riftbound-champion-icon-right {
    top: 131px;
    right: 27px;
}

#scoreboard-riftbound .riftbound-battlefield-icon-left {
    top: 187px;
    left: 30px;
}

#scoreboard-riftbound .riftbound-battlefield-icon-right {
    top: 187px;
    right: 27px;
}

#scoreboard-riftbound .riftbound-player-legend-left {
    top: 111px;
    left: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-legend-left #player-legend-left {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#scoreboard-riftbound .riftbound-player-legend-wrapper.riftbound-player-legend-right {
    justify-content: end;
}

#scoreboard-riftbound .riftbound-player-legend-right {
    top: 111px;
    right: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-legend-right #player-legend-right {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Riftbound Player Champion */
#scoreboard-riftbound .riftbound-player-champion-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 20;
    padding-left: 10px;
    padding-right: 10px;
}

#scoreboard-riftbound .riftbound-player-champion-left {
    top: 132px;
    left: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-champion-left #player-champion-left {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#scoreboard-riftbound .riftbound-player-champion-wrapper.riftbound-player-champion-right {
    justify-content: end;
}

#scoreboard-riftbound .riftbound-player-champion-right {
    top: 132px;
    right: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-champion-right #player-champion-right {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Riftbound Player Runes */
#scoreboard-riftbound .riftbound-player-runes-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 20;
    padding-left: 10px;
    padding-right: 10px;
}

#scoreboard-riftbound .riftbound-player-runes-left {
    top: 85px;
    left: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-runes-left #player-runes-left {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#scoreboard-riftbound .riftbound-player-runes-wrapper.riftbound-player-runes-right {
    justify-content: end;
}

#scoreboard-riftbound .riftbound-player-runes-right {
    top: 85px;
    right: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-runes-right #player-runes-right {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Riftbound Player Battlefield */
#scoreboard-riftbound .riftbound-player-battlefield-background {
    position: absolute;
    z-index: 10;
}

#scoreboard-riftbound .riftbound-player-battlefield-background-left {
    top: 180px;
    left: 19px;
    width: 320px;
    height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scoreboard-riftbound .riftbound-player-battlefield-background-right {
    top: 180px;
    right: 18px;
    width: 319px;
    height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scoreboard-riftbound .riftbound-player-battlefield-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 20;
    padding-left: 10px;
    padding-right: 10px;
}

#scoreboard-riftbound .riftbound-player-battlefield-left {
    top: 187px;
    left: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-battlefield-left #player-battlefield-left {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#scoreboard-riftbound .riftbound-player-battlefield-wrapper.riftbound-player-battlefield-right {
    justify-content: end;
}

#scoreboard-riftbound .riftbound-player-battlefield-right {
    top: 187px;
    right: 46px;
    width: 274px;
    height: 20px;
}

#scoreboard-riftbound .riftbound-player-battlefield-right #player-battlefield-right {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Riftbound Event Round */
#scoreboard-riftbound .riftbound-event-round-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    top: 940px;
    left: 20px;
    height: 30px;
    width: 320px;
}

#scoreboard-riftbound .riftbound-event-round {
    color: #fff;
    font-weight: normal;
    font-size: 30px;
}

/* Riftbound Timer */
#scoreboard-riftbound .riftbound-timer-wrapper {
    position: absolute;
    z-index: 20;
    top: 975px;
    left: 20px;
    width: 320px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#scoreboard-riftbound .timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreboard-riftbound .riftbound-timer {
    color: #fff;
    font-weight: normal;
    font-size: 60px;
}