* {
    font-family: "Bebas Neue", sans-serif; /* BebasNeueBold */
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown input {
    width: 100%;
    padding: 5px;
}

.custom-dropdown .dropdown-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    z-index: 1000;
}

.custom-dropdown .dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #f0f0f0;
}