
* {
    font-family: "Bebas Neue", sans-serif; /* BebasNeueBold */
}

body {
    width: 1920px;
    height: 1080px;
}

.card-src {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    border-radius: 12px;
}

.main-card-display {
    width: 500px;
}

.card-view-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-overlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-overlay img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

.fade-image {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
